* {
  box-sizing: border-box;
}
body {
  background-color: rgb(166, 240, 215);
}
h1#title {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 2.5em;
}
#box {
  border: 10px solid black;
  border-radius: 0px;
  width: 400px;
  height: 400px;
  margin: auto;
}

